<h2 translate="BIO.TITLE" animate-in-view="show"></h2>
<div class="description" animate-in-view="show">
	<p translate="BIO.PARAGRAPH"></p>
</div>
<div class="skills-wrap cf">
	<section class="pull-left" animate-in-view="show">
		<h6 translate="BIO.SUBTITLE_1"></h6>
		<ul>
			<li>HTML 5</li>
			<li>CSS 3
				<ul>
					<li>Responsive design</li>
					<li>SASS</li>
				</ul>
			</li>
			<li>JavaScript
				<ul>
					<li>jQuery</li>
					<li>Node.js</li>
		    		<li>AngularJS</li>
				</ul>
			</li>
			<li>Magento</li>
			<li>Adobe Photoshop</li>
		</ul>
	</section>
	<section class="pull-left" animate-in-view="show">
		<h6 translate="BIO.SUBTITLE_2"></h6>
		<ul>
			<li>MEAN.JS</li>
			<li>MongoDB</li>
			<li>Gulp</li>
			<li>PHP</li>
			<li>MySQL</li>
			<li>Bootstrap</li>
		    <li>Adobe After Effects</li>
			<li>Autodesk 3D Studio Max</li>
			<li>Vray</li>
			<li>VBA Excel</li>
		</ul>
	</section>
	<section class="pull-left" animate-in-view="show">
		<h6 translate="BIO.SUBTITLE_3"></h6>
		<ul>
		    <li>ExpressJS</li>
		    <li>Adobe Illutrator</li>
		    <li>Adobe InDesign</li>
		    <li>Adobe Premiere Pro</li>
		    <li translate="BIO.PHOTO_SKILL"></li>
		</ul>
	</section>
	<section class="pull-left" animate-in-view="show">
		<h6 translate="BIO.SUBTITLE_4"></h6>
		<ul class="mb0">
		    <li translate="BIO.ENGLISH_SKILL"></li>
		</ul>
	</section>
</div>