<h2 class="subheader" translate="BIO.TITLE"></h2>
<p class="mt0 description" translate="BIO.PARAGRAPH"></p>
<section>
	<h5 translate="BIO.SUBTITLE_1"></h5>
	<ul>
		<li>HTML 5</li>
		<li>CSS 3</li>
		<li>JavaScript</li>
		<li>Node.js</li>
		<li>Magento</li>
		<li>SASS</li>
		<li>jQuery</li>
		<li>MEAN.JS</li>
	    <li>AngularJS</li>
		<li>Adobe Photoshop</li>
	</ul>
</section>
<section>
	<h5 translate="BIO.SUBTITLE_2"></h5>
	<ul>
		<li>PHP</li>
		<li>MySQL</li>
		<li>MongoDB</li>
		<li>Gulp</li>
	    <li>Github</li>
	    <li>Adobe After Effects</li>
	    <li>Bootstrap</li>
		<li>Autodesk 3D Studio Max</li>
		<li>Vray</li>
		<li>VBA Excel</li>
	</ul>
</section>
<section>
	<h5 translate="BIO.SUBTITLE_3"></h5>
	<ul>
	    <li>ExpressJS</li>
	    <li>Adobe Illutrator</li>
	    <li>Adobe InDesign</li>
	    <li>Adobe Premiere Pro</li>
	    <li translate="BIO.PHOTO_SKILL"></li>
	</ul>
</section>
<section>
	<h5 translate="BIO.SUBTITLE_4"></h5>
	<ul class="mb0">
	    <li translate="BIO.ENGLISH_SKILL"></li>
	</ul>
</section>