<div class="inner">
	<div class="left pull-left">
		<h4 translate="FOOTER.TITLE"></h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eligendi itaque earum natus molestiae unde sequi deleniti magni ducimus voluptatem numquam, aspernatur non nesciunt rerum assumenda, quibusdam doloribus doloremque odit!</p>
	</div>

	<ul class="right pull-right">
		<li><span><i class="fa fa-envelope-o fa-lg"></i>flavien.garcia@gmail.com</span></li>
	    <!-- <li><a href="tel:0606446725" class="btn inline"><i class="fa fa-phone fa-lg"></i><span translate="SIDEBAR.PHONE_BTN"></span></a></li> -->
	    <li><span><i class="fa fa-phone fa-lg"></i>06 06 44 67 25</span></li>
	    <li><a href="https://github.com/FlavienGARCIA" target="_blank"><i class="fa fa-github fa-lg"></i>Github</a></li>
	    <li><a href="http://fr.linkedin.com/in/flaviengarcia" target="_blank"><i class="fa fa-linkedin fa-lg"></i>Linkedin</a></li>
	    <li><a href="https://drive.google.com/open?id=0BwrM5uuCD4sBaVNOVFIxMEo5N00" target="_blank"><i class="fa fa-file-pdf-o fa-lg"></i>CV</a></li>
	</ul>
	<div class="copyright">
		<p>© 2015 - Flavien GARCIA - Tous droits réservés.</p>
	</div>
</div>