<div class="inner">
	<div class="left pull-left" animate-in-view="show">
		<h4 translate="FOOTER.TITLE"></h4>
		<p>Après deux ans à travailler en tant que développeur web "full-stack", j'ai décidé de me concentrer là où je suis le plus à l'aise : le front-end.<br><br>J'ai donc commencé à utiliser des outils comme <strong>NodeJS</strong> et <strong>AngularJS</strong> afin d'approndir ma spécialisation. Je suis actuellement à la recherche d'opportunités d'emploi dans ce domaine.</p>
	</div>
	<ul class="right pull-left" animate-in-view="show">
		<li class="mail-link"><a href="mailto:flavien.garcia@gmail.com"><i class="fa fa-envelope fa-lg"></i>flavien.garcia@gmail.com</a></li>
		<li class="mail"><span><i class="fa fa-envelope fa-lg"></i>flavien.garcia@gmail.com</span></li>
	    <li class="tel-link"><a href="tel:0606446725"><i class="fa fa-phone fa-lg"></i>06 06 44 67 25</a></li>
	    <li class="tel"><span><i class="fa fa-phone fa-lg"></i>06 06 44 67 25</span></li>
	    <li><a href="https://github.com/FlavienGARCIA" target="_blank"><i class="fa fa-github fa-lg"></i>Github</a></li>
	    <li><a href="http://fr.linkedin.com/in/flaviengarcia" target="_blank"><i class="fa fa-linkedin fa-lg"></i>Linkedin</a></li>
	    <li><a href="https://drive.google.com/file/d/0BwrM5uuCD4sBcWpzc3JIRDNTVUk/view?usp=sharing" target="_blank"><i class="fa fa-file-pdf-o fa-lg"></i>CV</a></li>
	</ul>
	<div class="copyright">
		<p>© 2015 - Flavien GARCIA - Tous droits réservés.</p>
	</div>
</div>