<div class="title">
	<img src="/modules/core/img/title.png" alt="">
	<h1 class="logo" data-fittext data-fittext-load-delay="200">Flavien GARCIA</h1>
	<h2 data-fittext data-fittext-load-delay="200" translate="HEADER.TITLE"></h2>
</div>
<div class="welcome">
	<div class="separator"></div>
	<p class="first" data-fittext data-fittext-load-delay="200" translate="HEADER.FIRST_PARAGRAPH"></p>
</div>
<div class="lang">
	<ul>
		<li class="mb5 inline-block">
	    	<a href="#" class="btn inline btn-blue dark" title="Version française" ng-click="changeLanguage('fr');" ng-class="{'active': isCurrentLang('fr')}"><span>Français</span></a>
	    </li>
	    <li class="inline-block">
	    	<a href="#" class="btn inline btn-blue dark inline-block" title="English version" ng-click="changeLanguage('en');" ng-class="{'active': isCurrentLang('en')}"><span>English</span></a>
	    </li>
	</ul>
</div>