<h2 class="subheader">Mes outils</h2>
<p class="mt0">J'utilise HTML5, CSS 3 et JavaScript pour concevoir des expériences intuitives et agréables à utiliser.</p>
<div class="skill">
	<h5>Utilisation courante</h5>
	<ul>
		<li>HTML5</li>
		<li>CSS 3 & SASS</li>
		<li>JavaScript & jQuery</li>
	    <li>MEAN.JS <span class="text-muted">(MongoDB, ExpressJS, AngularJS et Node.js)</span></li>
	    <li>Gulp, Github, Heroku</li>
	    <li>Magento</li>
	</ul>
</div>
<div class="skill">
	<h5>A l'aise et autonome</h5>
	<ul>
		<li>Bootstrap</li>
		<li>PHP & MySQL</li>
		<li>Virtual Basic for Application</li>
		<li>Adobe Photoshop</li>
		<li>Adobe After Effects</li>
		<li>Autodesk 3D Studio Max & Vray</li>
	</ul>
</div>
<div class="skill mb0">
	<h5>Notions avancées</h5>
	<ul>
	    <li>Adobe Illutrator</li>
	    <li>Adobe Premiere Pro</li>
	    <li>Photographie avec DSLR Canon</li>
	</ul>
</div>

