<h2 class="subheader">Mes outils</h2>
<p class="mt0">J'utilise HTML5, CSS 3 et JavaScript pour concevoir des expériences intuitives et agréables à utiliser.</p>
<div class="separator radial"></div>
<h5>Utilisation avancée</h5>
<ul>
	<li class="highlight">HTML5</li>
	<li class="highlight">CSS 3</li>
	<li class="highlight">JavaScript</li>
	<li class="highlight">Node.js</li>
	<li class="highlight">Magento</li>
	<li>SASS</li>
	<li>jQuery</li>
    <li>MEAN.JS</li>
    <li>AngularJS</li>
    <li>Gulp</li>
    <li>Github</li>
    <li>Heroku</li>
</ul>
<h5>A l'aise et autonome</h5>
<ul>
	<li class="highlight">PHP</li>
	<li class="highlight">MySQL</li>
	<li class="highlight">Adobe Photoshop</li>
	<li>Adobe After Effects</li>
	<li>Autodesk 3D Studio Max</li>
	<li>Vray</li>
	<li>Bootstrap</li>
	<li>VBA Excel</li>
</ul>
<h5>Notions avancées</h5>
<ul>
    <li>Adobe Illutrator</li>
    <li>Adobe InDesign</li>
    <li>Adobe Premiere Pro</li>
    <li>Photographie avec DSLR Canon</li>
</ul>
<h5>Autres</h5>
<ul class="mb0">
    <li class="highlight">Anglais (lu, écrit et compréhension orale)</li>
</ul>