<h2 class="subheader" translate="PROJECTS.TITLE"></h2>
<div class="inner">
	<ul class="tabs cf" id="projectsTabs">
		<li ng-click="tab = 1" ng-class="{'active': tab === 1}">
			<h4 translate="PROJECTS.TITLE_1"></h4>
			<span class="subtitle" translate="PROJECTS.SUBTITLE_1"></span>
		</li>
		<li ng-click="tab = 2" ng-class="{'active': tab === 2}">
			<h4 translate="PROJECTS.TITLE_2"></h4>
			<span class="subtitle" translate="PROJECTS.SUBTITLE_2"></span>
		</li>
		<li ng-click="tab = 3" ng-class="{'active': tab === 3}">
			<h4 translate="PROJECTS.TITLE_3"></h4>
			<span class="subtitle" translate="PROJECTS.SUBTITLE_3"></span>
		</li>
	</ul>

	<div class="tabs-content">
		<div ng-click="setActiveTab(1)" class="section-title title_1">
			<div class="inner mt0" ng-class="{'active': tab === 1}">
				<h4 translate="PROJECTS.TITLE_1"></h4>
				<span class="subtitle" translate="PROJECTS.SUBTITLE_1"></span>
			</div>
		</div>
		<section class="universol sub-section" ng-show="tab === 1" ng-class="{'active': tab === 1}">
			<p>Pendant 2 ans, j'ai occupé le poste de développeur web et d'infographiste dans la société spécialisé dans la vente de tapis <a href="http://gecdiffusion.com/">GEC Diffusion</a>.<br>J'y ai créé et entretenu un site de vente en ligne sous Magento dans l'objectif d'étendre le marché de l'entreprise sur internet.</p>
			<p>J'y ai réalisé diverses tâches :</p>
			<ul>
			    <li>Mise en place du CMS Magento (migration des clients et produits depuis l'ancien site Prestashop, installation des modules, etc)</li>
			    <li>Réalisation complète du thème responsive (CSS 3, jQuery et framework <a href="http://materializecss.com/">MaterializeCSS</a>)</li>
			    <li>Développement en VBA de tableaux Excel permettant la gestion et la création des produits en format compatible Magento</li>
			    <li>Réalisation de mises en ambiances des produits dans des environnements 3D :
					<ul>
					    <li>Prise de photo sur fond vert avec DSLR Canon 70D & objectif Sigma 18-35mm</li>
					    <li>Rendu sous 3D Studio Max et Vray (avec scènes <a href="http://www.evermotion.org/modelshop/show_category/archinteriors/104">Evermotion Archinteriors</a>)</li>
					    <li>Ajustement de l'environnement et des caméras pour correspondre à la photo</li>
					    <li>Composition sous Adobe After Effects et Photoshop</li>
					</ul>
			    </li> 
			</ul>
			<p class="cf">
				<a href="http://universol.fr/" class="btn" target="_blank"><span translate="VISIT_LINK"></span><i class="fa fa-external-link fa-lg"></i></a>
			</p>
		</section>
		<div ng-click="setActiveTab(2)" class="section-title title_2">
			<div class="inner" ng-class="{'active': tab === 2}">
				<h4 translate="PROJECTS.TITLE_2"></h4>
				<span class="subtitle" translate="PROJECTS.SUBTITLE_2"></span>
			</div>
		</div>
		<section class="universol sub-section" ng-show="tab === 2" ng-class="{'active': tab === 2}">
			<p class="text-muted">En cours de réalisation. Date de fin estimée : août 2015.</p>
			<p>Pratiquant le tir sportif dans mon temps libre, j'avais besoin d'une application dans laquelle je pouvais enregistrer mes cibles et voir l'évolution de mes scores.</p>
			<p>J'avais également besoin d'apprendre et m'entraîner à utiliser <strong>Node.js</strong> et <strong>MEAN.JS</strong>, ainsi que leurs frameworks et outils (NPM, Bower, Gulp, Yeoman, AngularJS, MongoDB & Mongoose, ExpressJS, Bootstrap, etc).</p>
			<p>J'ai donc commencé à réaliser cette application dont les fonctionnalitées seraient :</p>
			<ul>
			    <li>Interface de création de cible avec upload de photo pour alignement des impacts</li>
			    <li>A la création, choix du calibre, arme, munitions, distance et type de cible</li>
			    <li>Calcul du score et des statistiques de la cible</li>
			    <li>Historique des cibles</li>
			    <li>Statistiques avec graphiques (scores globaux, progrès)</li>
			    <li>Génération de PDF (cible une à une ou liste par plage de dates)</li>
			    <li>Comptes utilisateurs</li>
			    <li>Tableau de bord avec accès rapide aux fonctionnalitées</li>
			</ul>
			<p class="cf btn-group">
				<a href="https://targets-manager.herokuapp.com/" class="btn mr5" target="_blank"><span translate="VISIT_LINK"></span><i class="fa fa-external-link fa-lg"></i></a>
				<a href="https://github.com/FlavienGARCIA/targets-manager" class="btn btn-blue mb0" target="_blank"><span>Git repo</span><i class="fa fa-github fa-lg"></i></a>
			</p>
		</section>
		<div ng-click="setActiveTab(3)" class="section-title title_3">
			<div class="inner" ng-class="{'active': tab === 3}">
				<h4 translate="PROJECTS.TITLE_3"></h4>
				<span class="subtitle" translate="PROJECTS.SUBTITLE_3"></span>
			</div>
		</div>
		<section class="universol sub-section" ng-show="tab === 3" ng-class="{'active': tab === 3}">
			<p class="text-muted">Refonte en cours de réalisation. Date de fin estimée : septembre 2015.</p>
			<p>Mon premier site, créé en 2011 avec le CMS Drupal.</p>
			<p>Changements prévus :</p>
			<ul>
			    <li>Migration vers MEAN.JS</li>
			    <li>Redesign complet (design mono-page)</li>
			</ul>
			<p class="cf">
				<a href="http://construire-une-piscine-naturelle.com/" class="btn mr5" target="_blank"><span translate="VISIT_LINK"></span><i class="fa fa-external-link fa-lg"></i></a>
			</p>
		</section>
	</div>
</div>