<h2 class="subheader" translate="PROJECTS.TITLE"></h2>

<section class="universol sub-section">
	<div class="section-title">
		<div class="inner">
			<section class="top">
				<h4 translate="PROJECTS.TITLE_1"></h4>
				<span class="subtitle" translate="PROJECTS.SUBTITLE_1"></span>
			</section>
			<div class="separator"></div>
			<section class="bottom">
				<p>Pendant <strong>2 ans</strong>, j'ai occupé le poste de <strong>développeur web</strong> et d'infographiste dans la société spécialisé dans la vente de tapis <a href="http://gecdiffusion.com/">GEC Diffusion</a>.</p>
				<p>J'y ai créé et entretenu un site de vente en ligne sous <strong>Magento</strong> dans l'objectif d'étendre le marché de l'entreprise sur internet.</p>
			</section>
		</div>
	</div>
	<div class="section-content cf">
		<div class="inner">
			<div class="left pull-left">
				<h5>Tâches réalisées</h5>
				<ul>
				    <li>Mise en place du CMS Magento (migration des clients et produits depuis l'ancien site Prestashop, installation des modules, etc)</li>
				    <li>Réalisation complète du thème responsive</li>
				    <li>Réalisation de mises en ambiances des produits dans des environnements 3D
						<ul>
						    <li>Prises de photos sur fond vert</li>
						    <li>Rendu sous 3D Studio Max avec Vray</li>
						    <li>Ajustement de l'environnement et des caméras pour correspondre à la photo</li>
						    <li>Composition sur After Effects et Photoshop</li>
						</ul>
				    </li> 
				    <li>Développement en VBA de tableaux Excel permettant la gestion et la création des produits en format compatible Magento</li>
				</ul>
			</div>
			<div class="right pull-left">
				<h5>Outils utilisés</h5>
				<h6>Magento</h6>
				<ul>
					<li>HTML 5</li>
					<li>CSS
						<ul>
							<li>SASS</li>
							<li>Compass</li>
							<li>Responsive design</li>
							<li>Framework <a href="http://materializecss.com/">MaterializeCSS</a></li>
						</ul>
					</li>
					<li>JavaScript 
						<ul>
						    <li>jQuery</li>
						    <li>Prototype</li>
						</ul>
					</li>
					<li>PHP & MySQL</li>
				</ul>
				<h6>Mises en ambiance</h6>
				<ul>
					<li>Canon 70D + objectif Sigma 18-35mm</li>
					<li>3D Studio Max 2014
						<ul>
						    <li>Vray</li>
						    <li>Scènes <a href="http://www.evermotion.org/modelshop/show_category/archinteriors/104">Evermotion Archinteriors</a></li>
						</ul>
					</li>
					<li>Adobe After Effects</li>
					<li>Adobe Photoshop</li>
				</ul>
				<h6>Autres</h6>
				<ul>
					<li>VBA Excel</li>
				</ul>
			</div>
			<div class="section-footer">
				<a href="http://universol.fr/" class="btn" target="_blank"><span translate="VISIT_LINK"></span><i class="fa fa-external-link fa-lg"></i></a>
			</div>
		</div>
	</div>
</section>

<section class="targets sub-section">
	<div class="section-title">
		<div class="inner">
			<section class="top">
				<h4 translate="PROJECTS.TITLE_2"></h4>
				<span class="subtitle" translate="PROJECTS.SUBTITLE_2"></span>
			</section>
			<div class="separator"></div>
			<section class="bottom">
				<p>Pratiquant le tir sportif dans mon temps libre, j'avais besoin d'une application dans laquelle je pouvais enregistrer mes cibles et voir l'évolution de mes scores.</p>
				<p>Je voulais également apprendre et pratiquer l'utilisation de <strong>Node.js</strong> et du framework <strong>MEAN.JS</strong>, ainsi que davantage approfondir mes connaissances en <strong>JavaScript</strong>.</p>
			</section>
		</div>
	</div>
	<div class="section-content">
		<div class="inner">
			<div class="left pull-left">
				<h5>Fonctionnalités</h5>
				<ul>
				    <li>Interface de création de cible avec upload de photo pour alignement des impacts</li>
				    <li>A la création, choix du calibre, arme, munitions, distance et type de cible</li>
				    <li>Calcul du score et des statistiques de la cible</li>
				    <li>Historique des cibles</li>
				    <li>Statistiques avec graphiques (scores globaux, progrès)</li>
				    <li>Génération de PDF (cible une à une ou liste par plage de dates)</li>
				    <li>Comptes utilisateurs</li>
				    <li>Tableau de bord</li>
				</ul>
			</div>
			<div class="right pull-left">
				<h5>Outils utilisés</h5>
				<ul>
					<li>JavaScript
						<ul>
							<li>jQuery</li>
						</ul>
					</li>
					<li>MEAN.JS
						<ul>
							<li>MongoDB</li>
							<li>ExpressJS</li>
							<li>AngularJS</li>
							<li>NodeJS</li>
						</ul>
					</li>
					<li>HTML 5</li>
					<li>CSS 3
						<ul>
							<li>SASS</li>
							<li>Responsive design</li>
							<li>Framework <a href="http://themeforest.net/item/materialism-angular-bootstrap-admin-template/11322821">Materialism</a></li>
						</ul>
					</li>
					<li>
						Github, Heroku
					</li>
				</ul>
			</div>
			<div class="section-footer">
				<p class="text-muted mt0">En cours de réalisation. Date de fin estimée : août 2015.</p>
				<p class="cf btn-group">
					<a href="https://targets-manager.herokuapp.com/" class="btn mr10" target="_blank"><span translate="VISIT_LINK"></span><i class="fa fa-external-link fa-lg"></i></a>
					<a href="https://github.com/FlavienGARCIA/targets-manager" class="btn btn-blue mb0" target="_blank"><span>Git repo</span><i class="fa fa-github fa-lg"></i></a>
				</p>
			</div>
		</div>
	</div>
</section>

<section class="piscine sub-section">
	<div class="section-title">
		<div class="inner">
			<section class="top">
				<h4 translate="PROJECTS.TITLE_3"></h4>
				<span class="subtitle" translate="PROJECTS.SUBTITLE_3"></span>
			</section>
			<div class="separator"></div>
			<section class="bottom">
				<p>Premier site personnel réalisé en 2011. Le but était d'optimiser la vente et de mettre en avant un e-book PDF expliquant en détail la construction d'une piscine naturelle.</p>
				<p>Réalisé afin mettre en pratique les technologies apprises durant ma formation GRETA (principalement <strong>HTML 5</strong>, <strong>CSS 3</strong> et <strong>Drupal</strong>).</p>
			</section>
		</div>
	</div>
	<div class="section-content">
		<div class="inner">
			<div class="left">
				<h5>Changements prévus</h5>
				<ul>
				    <li>Migration vers MEAN.JS</li>
				    <li>Redesign responsive</li>
				</ul>
			</div>
			<div class="section-footer">
				<p class="text-muted mt0">Refonte en cours de réalisation. Date de fin estimée : septembre 2015.</p>
				<p class="cf">
					<a href="http://construire-une-piscine-naturelle.com/" class="btn mr5" target="_blank"><span translate="VISIT_LINK"></span><i class="fa fa-external-link fa-lg"></i></a>
				</p>
			</div>
		</div>
	</div>
</section>
