<h1 class="logo" data-fittext>Flavien GARCIA</h1>
<h2 data-fittext>Développeur front-end</h2>
<p>Je suis un développeur web spécialisé dans le <strong>front-end</strong>. HTML5, CSS 3 et JavaScript.</p>
<p>Je conçois des web-app <strong>Node.js</strong> avec le stack <a href="http://meanjs.org/">MEAN.JS</a> et ses différents frameworks.
<br>J'ai également créé et entretenu un site de vente en ligne sous <strong>Magento</strong> pendant deux ans.</p>

<ul class="links cf">
    <li><a href="mailto:flavien.garcia@gmail.com" class="btn inline email">
	    	<i class="fa fa-envelope-o fa-lg"></i><span class="mail">flavien.garcia@gmail.com</span><span class="text">Email</span>
    	</a>
    </li>
    <li><a href="http://fr.linkedin.com/in/flaviengarcia" class="btn inline"><i class="fa fa-linkedin-square fa-lg"></i><span>Linkedin</span></a></li>
    <li><a href="https://github.com/FlavienGARCIA" class="btn inline"><i class="fa fa-github-square fa-lg"></i><span>Github</span></a></li>
</ul>
