<div class="title">
	<h1 class="logo" data-fittext data-fittext-load-delay="200">Flavien GARCIA</h1>
	<h2 data-fittext data-fittext-load-delay="200" translate="SIDEBAR.TITLE"></h2>
</div>
<p translate="SIDEBAR.FIRST_PARAGRAPH"></p>
<p translate="SIDEBAR.SECOND_PARAGRAPH"></p>

<ul class="links">
	<!-- <li><a href="#" ng-click="toggleBodyClass();" class="btn btn-blue inline"><i class="fa fa-lightbulb-o fa-lg"></i><span>Thème</span></a></li> -->
    <li><a href="mailto:flavien.garcia@gmail.com" class="btn inline"><i class="fa fa-envelope-o fa-lg"></i><span>Email</span></a></li>
    <li><a href="tel:0606446725" class="btn inline"><i class="fa fa-phone fa-lg"></i><span translate="SIDEBAR.PHONE_BTN"></span></a></li>
    <li><a href="https://github.com/FlavienGARCIA" target="_blank" class="btn inline"><i class="fa fa-github fa-lg"></i><span>Github</span></a></li>
    <li><a href="http://fr.linkedin.com/in/flaviengarcia" target="_blank" class="btn inline"><i class="fa fa-linkedin fa-lg"></i><span>Linkedin</span></a></li>
    <li><a href="https://drive.google.com/open?id=0BwrM5uuCD4sBaVNOVFIxMEo5N00" target="_blank" class="btn mt5 mb10"><i class="fa fa-file-pdf-o fa-lg"></i><span>CV</span></a></li>
    <li class="separator"></li>
    <li class="mb5 inline-block">
    	<a href="#" class="btn inline btn-blue dark" title="Version française" ng-click="changeLanguage('fr');" ng-class="{'active': isCurrentLang('fr')}"><span>Français</span></a>
    </li>
    <li class="inline-block">
    	<a href="#" class="btn inline btn-blue dark inline-block" title="English version" ng-click="changeLanguage('en');" ng-class="{'active': isCurrentLang('en')}"><span>English</span></a>
    </li>
</ul>