<h1 class="logo">Flavien GARCIA <span>Développeur web front-end</span></h1>


<p>Je suis un développeur web spécialisé dans le <strong>front-end</strong>.</p>
<p>Je conçois des web-app <strong>Node.js</strong> avec le stack <a href="http://meanjs.org/">MEAN.JS</a> et ses différents frameworks.
<br>J'ai également créé et entretenu un site de vente en ligne sous Magento pendant deux ans.</p>

<div class="contacts">
	<ul>
	    <li><a href="">Email</a></li>
	    <li><a href="">Linkedin</a></li>
	    <li><a href="">Github</a></li>
	</ul>
</div>