@import "color";

$main-color: color("orange", "lighten-2");
$secondary-color: color("light-blue", "base");

$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1280px;
$very-large-screen: 1600px;