@import "color";

$main-color: color("blue-grey", "lighten-5");
$title-color: color("blue-grey", "darken-1");
$anchor-color: color("blue-grey", "lighten-2"); 
$body-color: color("blue-grey", "darken-4");
$secondary-color: color("amber", "darken-3");