@import "variables";

.bio {
	padding: 7%;

	h2 {
		margin: 0 0 30px;
		text-align: center;
		font-size: 50px;
		color: $secondary-color;

		@media screen and (min-width: $small-screen) {
			font-size: 70px;
			margin: 0 0 40px;
		}
	}

	section {
		width: 100%;
		padding-bottom: 5%;
	}
}

@media screen and (min-width: $small-screen) {
	.bio {
		padding: 5%;

		section {
			width: 50%;
			padding: 0 2.5% 2.5%;
		}
	}
}

@media screen and (min-width: $medium-screen) {
	.bio {

		.description {
			width: 75%;
		}
	}
}

@media screen and (min-width: $large-screen) {
	.bio {
		padding: 4%;

		.description {
			width: 50%;
		}

		section {
			width: 33%;
			padding: 0 2.5%;
		}
	}
}

@media screen and (min-width: $very-large-screen) {
	.bio {
		padding: 3%;
	}
}

.bio {
	background-color: color("light-blue", "lighten-5");
	background: -webkit-radial-gradient(center top, lighten(color("light-blue", "lighten-5"), 5%), color("light-blue", "lighten-5"));
	background: -moz-radial-gradient(center top, lighten(color("light-blue", "lighten-5"), 5%), color("light-blue", "lighten-5"));
	background: radial-gradient(center top, lighten(color("light-blue", "lighten-5"), 5%), color("light-blue", "lighten-5"));

	.description {
		text-align: center;
		font-size: 24px;
		margin: 0 auto 60px;
	}

	.skills-wrap {
		max-width: 1280px;
		margin: 0 auto;
	}
	
	h6 {
		color: $secondary-color;
		margin-bottom: 5px;
		padding-bottom: 7px;
		font-weight: 300;
		border-bottom: 1px solid $secondary-color;
	}

	li {
		margin-bottom: 5px;
		position: relative;
		padding-left: 10px;

		&:before {
			content: '';
			position: absolute;
			left: -10px;
			top: 12px;
			width: 10px;
			height: 1px;
			background-color: $secondary-color;
		}
	}

	ul {
		margin: 0;
		padding: 10px 0 10px 10px;
		position: relative;

		ul {
			padding: 0 0 0 20px;
			margin-top: 6px;
			border-left: 1px solid $secondary-color;

			li {
				margin-bottom: 2px;
			}
		}
	}
}