@import "variables";

.bio {
	
	p {
		text-align: justify;
	}

	.separator {
		margin: 20px 0;
	}

	ul {

		li {
			padding: 6px 12px;
			background-color: $darken-body-color;
			color: $anchor-color;
			border-radius: 3px;
			display: inline-block;
			margin: 0 3px 6px 0;

			&.highlight {
				color: $secondary-color;
			}

			.light & {
				background-color: $light-darken-body-color;
				color: $light-anchor-color;

				&.highlight {
					color: $light-secondary-color;
				}
			}
		}
	}
}