@import "variables";

.bio {

	h5 {
		color: $secondary-color;
	}

	/*section {
		width: 24%;
		padding-right: 1%;
		display: inline-block;
	}
	*/
	.description {
		text-align: justify;
		width: 35%;
		margin-left: auto;
		margin-right: auto;
	}

	.separator {
		margin: 20px 0;
	}

	ul {

		li {
			/*padding: 6px 12px;
			background-color: $darken-body-color;
			color: $anchor-color;
			border-radius: 3px;
			display: inline-block;
			margin: 0 3px 6px 0;*/
		}
	}
}