@import "variables";

footer {
	padding: 7%;
}

@media screen and (min-width: $small-screen) {
	footer {
		padding: 5%;
	}
}

@media screen and (min-width: $large-screen) {
	footer {
		padding: 4%;
	}
}

@media screen and (min-width: $very-large-screen) {
	footer {
		padding: 3%;
	}
}

footer {
	/*background-color: color("blue-grey", "darken-4");
	background: -webkit-radial-gradient(center top, lighten(color("blue-grey", "darken-4"), 5%), color("blue-grey", "darken-4"));
	background: -moz-radial-gradient(center top, lighten(color("blue-grey", "darken-4"), 5%), color("blue-grey", "darken-4"));
	background: radial-gradient(center top, lighten(color("blue-grey", "darken-4"), 5%), color("blue-grey", "darken-4"));*/
	background: $secondary-color;
	background: -webkit-radial-gradient(center top, lighten($secondary-color, 20%), $secondary-color);
	background: -moz-radial-gradient(center top, lighten($secondary-color, 20%), $secondary-color);
	background: radial-gradient(center top, lighten($secondary-color, 20%), $secondary-color);
	color: #fff;
	font-size: 20px;

	h2 {
		color: #fff;
	}

	h4 {
		color: color("light-blue", "darken-3");
	}

	.left, .right {
		width: 35%;
	}

	.left {
		text-align: right;
		margin-left: 15%;
		padding: 1% 3%;
		border-right: 1px solid color("light-blue", "lighten-3");
	}

	.right {
		margin-right: 15%;
		padding-left: 2%;
	}

	.copyright {
		clear: both;
		text-align: center;
		color: color("light-blue", "lighten-4");
		padding-top: 2%;
	}

	ul {
		margin: 20px 0 0 0;

		li span, li a {
			padding: 8px 16px;
			display: inline-block;

			i {
				margin-right: 20px;
				color: color("light-blue", "darken-2");
			}
		}
	}

	a {
		color: #fff;
		border-radius: 4px;
		
		i {
			-webkit-transition: all .1s;
			-o-transition: all .1s;
			transition: all .1s;
		}

		&:hover {
			background-color: color("light-blue", "darken-2");
			color: #fff;

			i {
				color: #fff;
			}
			
			&:before {
				width: 0;
			}
		}
	}
}