@import "variables";

footer {
	padding: 7% 7% 4% 7%;

	.tel, .mail {
		display: none;
	}

	.mail a, .mail-link a {
		padding-left: 12px;
	}

	.left {
		border-bottom: 1px solid color("light-blue", "lighten-4");
		padding-bottom: 2%;
		margin-bottom: 1%;
		text-align: justify;
	}
}

@media screen and (min-width: $small-screen) {
	footer {
		padding: 5% 5% 3% 5%;

		.tel, .mail {
			display: block;
		}

		.tel-link, .mail-link {
			display: none;
		}
	}
}

@media screen and (min-width: $medium-screen) {
	footer {

		.left, .right {
			width: 45%;
		}

		.left {
			/*text-align: right;*/
			margin-left: 5%;
			padding: 1% 3%;
			border-bottom: none;
			border-right: 1px solid color("light-blue", "lighten-4");
			margin-bottom: 0;

			h4 {
				text-align: right;
			}
		}

		.right {
			padding-left: 2%;
		}
	}
}

@media screen and (min-width: $large-screen) {
	footer {
		padding: 4% 4% 2% 4%;

		.left, .right {
			width: 35%;
		}

		.left {
			margin-left: 15%;
		}
	}
}

@media screen and (min-width: $very-large-screen) {
	footer {
		padding: 3% 3% 1% 3%;

		.right {
			padding-top: 5px;
		}
	}
}

footer {
	/*background-color: color("blue-grey", "darken-4");
	background: -webkit-radial-gradient(center top, lighten(color("blue-grey", "darken-4"), 5%), color("blue-grey", "darken-4"));
	background: -moz-radial-gradient(center top, lighten(color("blue-grey", "darken-4"), 5%), color("blue-grey", "darken-4"));
	background: radial-gradient(center top, lighten(color("blue-grey", "darken-4"), 5%), color("blue-grey", "darken-4"));*/
	background: $secondary-color;
	background: -webkit-radial-gradient(center top, lighten($secondary-color, 20%), $secondary-color);
	background: -moz-radial-gradient(center top, lighten($secondary-color, 20%), $secondary-color);
	background: radial-gradient(center top, lighten($secondary-color, 20%), $secondary-color);
	color: #fff;
	font-size: 20px;

	h2 {
		color: #fff;
	}

	h4 {
		color: color("light-blue", "darken-3");
	}

	.copyright {
		clear: both;
		color: color("light-blue", "lighten-4");
		padding-top: 2%;

		p {
			text-align: center;
		}
	}

	ul {
		margin: 20px 0 0 0;

		li span, li a {
			padding: 8px 16px;
			display: inline-block;

			i {
				margin-right: 20px;
				color: color("light-blue", "darken-2");
			}
		}
	}

	a {
		color: #fff;
		border-radius: 4px;
		
		i {
			-webkit-transition: all .1s;
			-o-transition: all .1s;
			transition: all .1s;
		}

		&:hover {
			background-color: color("light-blue", "darken-2");
			color: #fff;

			i {
				color: #fff;
			}
			
			&:before {
				width: 0;
			}
		}
	}
}