@import "variables";

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: lighten($secondary-color, 10%);
	text-decoration: none;
	-webkit-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
	outline: none;
	position: relative;

	&:not(.btn):before {
		content: '';
		width: 0;
		height: 1px;
		background-color: lighten($secondary-color, 10%);
		position: absolute;
		bottom: -2px;
		left: 0;
		-webkit-transition: all .15s;
		-o-transition: all .15s;
		transition: all .15s;
	}

	&:hover {
		color: lighten($secondary-color, 20%);

		&:before {
			width: 100%;
			background-color: lighten($secondary-color, 20%);
		}
	}
}

body {
	font-family: 'Lato', sans-serif;
	background: white;
 	color: color("indigo", "darken-4");
	font-weight: 300;
	font-size: 16px;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	height: 100%;
}

strong {
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: $main-color;
	line-height: 1em;
	margin: 0;
	-webkit-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
	font-weight: 100;
}

h2 {
	font-size: 70px;
}

h3 {
	font-size: 60px;
}

h4 {
	font-size: 50px;
}

h5 {
	font-size: 40px;
}

h6 {
	font-size: 26px;
}

p, ul {
	line-height: 1.4em;
}

ul {
	list-style: none;
	padding-left: 0;
}

.mt0 {
	margin-top: 0 !important;
}

.mb0 {
	margin-bottom: 0 !important;
}

.mr5 {
	margin-right: 5px !important;
}

.mr10 {
	margin-right: 10px !important;
}

.ml5 {
	margin-left: 5px !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mb5 {
	margin-bottom: 5px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

.text-muted {
	color: #AAAAAA;
}

.separator {
	height: 1px;
	width: 100%;
	position: relative;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e272c+0,90a4ae+50,1e272c+100 */
	background: white; /* Old browsers */
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255, 255, 255, 0)), color-stop(50%,white), color-stop(100%,rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%,white 50%,rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%,white 50%,rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%,white 50%,rgba(255, 255, 255, 0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%,white 50%,rgba(255, 255, 255, 0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e272c', endColorstr='#1e272c',GradientType=1 ); /* IE6-9 */
}

.inline-block {
	display: inline-block !important;
}

[animate-in-view] {
	opacity: 0;
	transform: translateY(75px);
	-webkit-transition: all .8s;
	-o-transition: all .8s;
	transition: all .8s;

	&.show {
		opacity: 1;
		transform:translateY(0);
	}

	&.show:nth-child(odd) {
		-webkit-transition: all .6s;
		-o-transition: all .6s;
		transition: all .6s;
	}
}