@import "variables";

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: $anchor-color;
	text-decoration: none;
	-webkit-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
	outline: none;
	position: relative;

	/*&:not(.btn):before {
		content: '';
		width: 0;
		height: 1px;
		background-color: $anchor-color;
		position: absolute;
		bottom: 0;
		left: 0;
		-webkit-transition: all .15s;
		-o-transition: all .15s;
		transition: all .15s;
	}

	&:hover {
		color: lighten($anchor-color, 20%);

		&:not(.btn):before {
			width: 100%;
		}
	}*/
}

body {
	font-family: 'Open Sans', sans-serif;
	background: $body-color;
 	color: $main-color;
	font-weight: 300;
	font-size: 16px;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	height: 100%;
}

.inner {
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: $title-color;
	line-height: 1em;
	margin: 0;
	-webkit-transition: color .2S;
	-o-transition: color .2S;
	transition: color .2S;
	font-weight: 300;
}

h2 {
	font-size: 72px;
}

h3 {
	font-size: 60px;
}

h4 {
	font-size: 48px;
}

h5 {
	font-size: 36px;
}

p, ul {
	line-height: 1.4em;
}

ul {
	list-style: none;
	padding-left: 0;
}

.mt0 {
	margin-top: 0 !important;
}

.mb0 {
	margin-bottom: 0 !important;
}

.mr5 {
	margin-right: 5px !important;
}

.ml5 {
	margin-left: 5px !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mb5 {
	margin-bottom: 5px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

.text-muted {
	color: $anchor-color;
}

.separator {
	height: 1px;
	width: 100%;
	margin: 10px 0 20px;
	position: relative;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e272c+0,90a4ae+50,1e272c+100 */
	background: lighten($body-color, 12%); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(30, 39, 44, 0) 0%, lighten($body-color, 12%) 50%, rgba(30, 39, 44, 0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30, 39, 44, 0)), color-stop(50%,lighten($body-color, 12%)), color-stop(100%,rgba(30, 39, 44, 0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(30, 39, 44, 0) 0%,lighten($body-color, 12%) 50%,rgba(30, 39, 44, 0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(30, 39, 44, 0) 0%,lighten($body-color, 12%) 50%,rgba(30, 39, 44, 0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(30, 39, 44, 0) 0%,lighten($body-color, 12%) 50%,rgba(30, 39, 44, 0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(30, 39, 44, 0) 0%,lighten($body-color, 12%) 50%,rgba(30, 39, 44, 0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e272c', endColorstr='#1e272c',GradientType=1 ); /* IE6-9 */
}

.inline-block {
	display: inline-block !important;
}