@import "variables";

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: $anchor-color;
	text-decoration: none;
	-webkit-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;

	&:hover {
		color: lighten($anchor-color, 20%);
	}
}

body {
	font-family: 'Hind', sans-serif;
	background: $body-color;
	color: $main-color;
	font-weight: 400;
	
}

@media screen and (min-width: $very-large-screen) {
	body {
		background-image: -webkit-gradient(linear,
	    left top,
	    right top,
	    color-stop(0, $darken-body),
	    color-stop(19%, $darken-body),
	    color-stop(19%, $body-color),
	    color-stop(100%, $body-color)
		);
	  background-image: -webkit-linear-gradient(
	    left,
	    $darken-body,
	    $darken-body 19%,
	    $body-color 19%,
	    $body-color 100%
		);
	  background-image: -moz-linear-gradient(
	    left,
	    $darken-body,
	    $darken-body 19%,
	    $body-color 19%,
	    $body-color 100%
		);
	  background-image: -ms-linear-gradient(
	    left,
	    $darken-body,
	    $darken-body 19%,
	    $body-color 19%,
	    $body-color 100%
		);
	  background-image: -o-linear-gradient(
	    left,
	    $darken-body,
	    $darken-body 19%,
	    $body-color 19%,
	    $body-color 100%
		);
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: $title-color;
	line-height: 1em;
	margin: 0;

	a {
		color: $title-color;
	}
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.25em;
}

p, ul {
	line-height: 1.4em;
}

ul {
	list-style: none;
	padding-left: 0;
}

.mt0 {
	margin-top: 0 !important;
}

.mb0 {
	margin-bottom: 0 !important;
}

.mr5 {
	margin-right: 5px !important;
}

.ml5 {
	margin-left: 5px !important;
}

.text-muted {
	color: $anchor-color;
}

.separator {
	height: 1px;
	width: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e272c+0,90a4ae+50,1e272c+100 */
	background: lighten($body-color, 12%); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(30, 39, 44, 0) 0%, lighten($body-color, 12%) 50%, rgba(30, 39, 44, 0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30, 39, 44, 0)), color-stop(50%,lighten($body-color, 12%)), color-stop(100%,rgba(30, 39, 44, 0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(30, 39, 44, 0) 0%,lighten($body-color, 12%) 50%,rgba(30, 39, 44, 0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(30, 39, 44, 0) 0%,lighten($body-color, 12%) 50%,rgba(30, 39, 44, 0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(30, 39, 44, 0) 0%,lighten($body-color, 12%) 50%,rgba(30, 39, 44, 0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(30, 39, 44, 0) 0%,lighten($body-color, 12%) 50%,rgba(30, 39, 44, 0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e272c', endColorstr='#1e272c',GradientType=1 ); /* IE6-9 */
	margin: 10px 0;
	position: relative;
	
	&.radial {
		&:before, &:after {
			content: '';
			position: absolute;
			left: 0;
			pointer-events: none;
			width: 100%;
			height: 40px;
			/*z-index: -1;*/
		}

		&:before {
			background: url(../img/separator-top.png);
			bottom: 1px;
			-webkit-background-size: 100% 40px;
			background-size: 100% 40px;
			opacity: .15;
		}	

		&:after {
			background: url(../img/separator-bottom.png);
			top: 1px;
			-webkit-background-size: 100% 40px;
			background-size: 100% 40px;
			opacity: .2;
		}

		&.dark {

			&:before {
				opacity: .15;
			}

			&:after {
				opacity: .35;
			}
		}
	}
}