@import "variables";


header {
	padding: 7%;
}

@media screen and (min-width: $small-screen) {
	header {
		padding: 5% 22%;
	}
}

@media screen and (min-width: $large-screen) {
	header {
		padding: 4% 25%;
	}
}

@media screen and (min-width: $very-large-screen) {
	header {
		padding: 3% 32%;
	}
}

header {
	background: $main-color;
	background: -webkit-radial-gradient(center top, color("orange", "lighten-3"), $main-color);
	background: -moz-radial-gradient(center top, color("orange", "lighten-3"), $main-color);
	background: radial-gradient(center top, color("orange", "lighten-3"), $main-color);
	color: #fff;
	text-align: center;

	h1 {
		color: #fff;
		font-size: 100px;
	}

	h2 {
		color: color("orange", "darken-2");
		font-size: 71px;
	}

	.welcome {
		margin-top: 6%;
		margin-bottom: 2%;
		border: 1px solid rgba(255, 255, 255, .35);
		padding: 3% 5%;
		border-radius: 4px;
		background-color: rgba(255, 255, 255, .1);
		box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 5px 12px rgba(0, 0, 0, .05);
		text-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 3px 5px rgba(0, 0, 0, .15);

		p {
			margin: 0;
		}

		.first {
			margin-bottom: 5px;
			font-size: 34px;
		}

		.second {
			font-size: 28px;
		}
	}

	.lang {
		display: none;
	}
}