@import "variables";
$header-color: "blue";

header {
	padding: 5% 7%;
}

@media screen and (min-width: $small-screen) {
	header {
		padding: 4% 20%;
	}
}

@media screen and (min-width: $large-screen) {
	header {
		padding: 3% 30%;
	}
}

header {
	background-color: color($header-color, "lighten-3");
	color: #fff;

	h1 {
		color: #fff;
		margin-bottom: 0;
		-webkit-transition: color .2s;
		-o-transition: color .2s;
		transition: color .2s;
		font-weight: 200;
	}

	h2 {
		margin-top: 0;
		-webkit-transition: color .2s;
		-o-transition: color .2s;
		transition: color .2s;
		color: color($header-color, "lighten-1");
		font-weight: 100;
	}

	nav {

		ul {
			margin: 0;
		}

		li {
			display: inline-block;
			margin-left: 30px;
		}

		a {
			color: #fff;
			text-transform: uppercase;
			font-size: 24px;
			letter-spacing: 4px;
			font-family: "Lato", sans-serif;
			font-weight: 400;
			padding: 0 10px;
		}
	}

	.welcome {

		p {
			margin: 0;
		}

		.first-wrapper {
			margin: 8% 0 4%;
			border-radius: 4px;
			color: color($header-color, "lighten-3");
			background: #fff;
			width: 100%;
			padding: 2% 4% 3%;
		}

		.first {
			/*color: $secondary-color;*/
		}

		.second, .third {
			font-weight: 300;

			strong {
				font-weight: 400;
			}
		}

		.second {
			
		}
	}

	.links {
		margin: 75px 0 25px;
		width: 25%;
		clear: both;
		display: none;

		li a {
			width: 100%;

			@media screen and (min-width: $small-screen) {
				width: auto;
			}
		}
	}
}