@import "variables";

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: $secondary-color;
	text-decoration: none;
}

body {
	font-family: 'Hind', serif;
	color: $main-color;
	background: $body-color;
	margin: 2%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: $title-color;
	line-height: 1em;
	margin-top: 0;

	a {
		color: $title-color;
	}
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
	margin: 0;
}

p, ul {
	line-height: 1.4em;
}

ul {
	list-style: none;
	padding-left: 0;
}

.sidebar, .presentation, .projects {
	float: left;
	height: 100vh;
	/*box-shadow: -50px 0 50px rgba(0, 0, 0, .1);*/
}

.sidebar, .presentation {
	width: 18%;
	margin-right: 2%;
}

.projects {
	width: 60%;
}

.btn {
	padding: 8px 16px;
	border-radius: 3px;
	-webkit-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	display: inline-block;
	border: 1px solid $secondary-color;
	background-color: transparent;
	color: $secondary-color;
	position: relative;

	&.inline {
		border: none;
		text-transform: none;
		margin-right: 5px;
	}

	&:hover {
		background-color: $secondary-color;
		color: $body-color;
	}

	i + span, span + i {
		margin-left: 12px;
	}
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}