@import "variables";

.subheader {
	margin-bottom: 30px;
}

.sidebar, .presentation, .projects {
	float: left;
	padding: 5%;
}

.sidebar {
	background-color: $darken-body;
}

.presentation {

}

.projects {
	
}

@media screen and (min-width: $small-screen) {
	.sidebar, .presentation, .projects {
		width: 50%;
	}

	.projects {
		width: 100%;
	}
}

@media screen and (min-width: $medium-screen) {
	
}


@media screen and (min-width: $large-screen) {
	.sidebar, .presentation, .projects {
		
	}
}

@media screen and (min-width: $very-large-screen) {
	.sidebar, .presentation, .projects {
		
	}

	.sidebar {
		width: 19%;
		padding: 1.5%;
		background-color: transparent;
	}

	.presentation {
		width: 21%;
		padding: 1.5% 2%;
	}

	.projects {
		width: 60%;
		padding: 1.5% 1.5% 1.5% 0;
	}
}

.btn {
	padding: 8px 16px;
	border-radius: 3px;
	-webkit-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	display: inline-block;
	border: 1px solid $secondary-color;
	background-color: transparent;
	color: $secondary-color;
	position: relative;
	width: 100%;
	text-align: center;

	&.inline {
		border: none;
		text-transform: none;
		margin-right: 5px;
	}

	i + span, span + i {
		margin-left: 12px;
	}

	&:hover {
		background-color: $secondary-color;
		color: $body-color;
	}

	&.active {
		background-color: $secondary-color;
		color: $body-color;
	}

	&.btn-blue {
		border-color: $anchor-color;
		color: $anchor-color;

		&.active {
			background-color: $anchor-color;
			color: $body-color;
		}

		&:hover {
			background-color: $anchor-color;
			color: $body-color;
		}
	}

	@media screen and (min-width: $small-screen) {
		width: auto;
	}
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}