@import "variables";

.subheader {
	margin-bottom: 5%;
	color: $secondary-color;
	text-align: center;
}

header, .sub-container > section {
	padding: 7%;
	width: 100%;
}

.sub-container {

}

@media screen and (min-width: $small-screen) {
	header, .sub-container > section {
		padding: 5%;
	}

	header {
		background-color: transparent;
	}
}

@media screen and (min-width: $very-large-screen) {

	header, .sub-container > section {
		padding: 2.5% 4%;
	}

	.sub-container > section {
		max-width: 1280px;
		margin: 0 auto;
	}
}

.btn {
	padding: 8px 16px;
	border-radius: 3px;
	-webkit-transition: all .15s;
	-o-transition: all .15s;
	transition: all .15s;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	display: inline-block;
	border: 1px solid $secondary-color;
	background-color: transparent;
	color: $secondary-color;
	position: relative;
	width: 100%;
	text-align: center;

	&.inline {
		border: none;
		text-transform: none;
		margin-right: 5px;
	}

	i + span, span + i {
		margin-left: 12px;
	}

	&:hover {
		background-color: $secondary-color;
		color: $body-color;
	}

	&.active {
		background-color: $secondary-color;
		color: $body-color;
	}

	&.btn-blue {
		border-color: $anchor-color;
		color: $anchor-color;

		&.active {
			background-color: $anchor-color;
			color: $body-color;
		}

		&:hover {
			background-color: $anchor-color;
			color: $body-color;
		}

		&.dark {
			border-color: $title-color;
			color: $title-color;

			&.active {
				background-color: $title-color;
				color: $darken-body-color;
			}

			&:hover {
				background-color: $title-color;
				color: $darken-body-color;
			}
		}
	}

	@media screen and (min-width: $small-screen) {
		width: auto;
	}
}

.btn-group {
	@media screen and (max-width: $small-screen) {
		.btn {
			margin-bottom: 10px;
		}
	}
}
.pull-right {
	float: right;
}

.pull-left {
	float: left;
}