@import "variables";

.subheader {
	margin-bottom: 25px;
	color: $secondary-color;
}

.sidebar, .bio, .projects {
	float: left;
	padding: 5%;
	width: 100%;
}

.sidebar {
	background-color: $darken-body;
}

@media screen and (min-width: $small-screen) {
	.sidebar, .bio {
		width: 50%;
	}

	.bio {
		
	}

	.projects {
		background-color: $body-color;
		border-top: 3px solid $darken-body;
	}
}

@media screen and (min-width: $medium-screen) {
	
}

@media screen and (min-width: $large-screen) {
	
}

@media screen and (min-width: $very-large-screen) {

	.sidebar {
		width: 22%;
		padding: 2%;
	}

	.bio {
		width: 22%;
		padding: 2% 3%;
	}

	.projects {
		width: 56%;
		padding: 2% 2% 2% 0;
		border-top: none;
	}
}

.btn {
	padding: 8px 16px;
	border-radius: 3px;
	-webkit-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	display: inline-block;
	border: 1px solid $secondary-color;
	background-color: transparent;
	color: $secondary-color;
	position: relative;
	width: 100%;
	text-align: center;

	&.inline {
		border: none;
		text-transform: none;
		margin-right: 5px;
	}

	i + span, span + i {
		margin-left: 12px;
	}

	&:hover {
		background-color: $secondary-color;
		color: $body-color;
	}

	&.active {
		background-color: $secondary-color;
		color: $body-color;
	}

	&.btn-blue {
		border-color: $anchor-color;
		color: $anchor-color;

		&.active {
			background-color: $anchor-color;
			color: $body-color;
		}

		&:hover {
			background-color: $anchor-color;
			color: $body-color;
		}

		&.dark {
			border-color: $title-color;
			color: $title-color;

			&.active {
				background-color: $title-color;
				color: $darken-body;
			}

			&:hover {
				background-color: $title-color;
				color: $darken-body;
			}
		}
	}

	@media screen and (min-width: $small-screen) {
		width: auto;
	}
}

.btn-group {
	@media screen and (max-width: $small-screen) {
		.btn {
			margin-bottom: 10px;
		}
	}
}
.pull-right {
	float: right;
}

.pull-left {
	float: left;
}