@import "variables";

.btn {
	padding: 16px 32px;
	border-radius: 3px;
	-webkit-transition: all .15s;
	-o-transition: all .15s;
	transition: all .15s;
	text-transform: uppercase;
	display: inline-block;
	border: 1px solid $main-color;
	background-color: transparent;
	color: $main-color;
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 24px;

	&.inline {
		border: none;
		text-transform: none;
		margin-right: 5px;
	}

	i + span, span + i {
		margin-left: 16px;
	}

	&:hover {
		background-color: $main-color;
		color: white;
	}

	&.active {
		background-color: $main-color;
		color: white;
	}

	&.btn-blue {
		border-color: $secondary-color;
		color: $secondary-color;

		&.active {
			background-color: $secondary-color;
			color: white;
		}

		&:hover {
			background-color: $secondary-color;
			color: white;
		}
	}

	@media screen and (min-width: $small-screen) {
		width: auto;
	}
}

.btn-group {
	@media screen and (max-width: $small-screen) {
		.btn {
			margin-bottom: 10px;
		}
	}
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}