@import "variables";

.presentation {
	
	p {
		text-align: justify;
	}

	.separator {
		margin: 20px 0;
	}

	/*h5 {
		color: $darken-body;
		padding-bottom: 10px;
		padding: 12px 16px;
		background: $title-color;
	}

	.skill {
		border-radius: 3px;
		margin: 0 0 16px 0;
		border: 1px solid $title-color;
	}

	ul {
		margin: 0;
		padding: 12px 16px;

		li {
			
		}
	}*/

	ul {

		li {
			padding: 6px 12px;
			background-color: $darken-body;
			color: $anchor-color;
			border-radius: 3px;
			display: inline-block;
			margin: 0 3px 6px 0;
			/*border: 1px solid $darken-body;*/

			&.highlight {
				/*background-color: $secondary-color;*/
				color: $secondary-color;
				/*border-color: $secondary-color;*/
			}
		}
	}
}