@import "variables";


.sub-container > section.projects {
	max-width: 100%;
	padding: 5% 0 0 0;
}

.section-title {
	text-align: center;
	background: $secondary-color;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .35), 0 2px 5px rgba(0, 0, 0, .2);

	a {
		color: #fff;

		&:before {
			background-color: #fff;
			width: 100%;
			box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 2px 5px rgba(0, 0, 0, .2);
		}
	}

	h4 {
		color: #fff;
		font-size: 64px;
	}

	.inner {
		background-color: rgba(3, 169, 244, .4);
		padding: 75px 0 60px;
		color: #fff;
		font-size: 24px;

		.separator {
			margin: 30px auto 0;
			width: 50%;
			opacity: .5;
		}

		.top {
			width: 100%;
		}

		.bottom {
			width: 50%;
			margin: 0 auto;
		}

		.subtitle {
			color: color("light-blue", "lighten-4");
		}
	}
}

.universol {
	 .section-title {
		background: url(/modules/core/img/universol1.jpg) no-repeat center 75%;
		/*background: url(/modules/core/img/universol_2.jpg) no-repeat center 75%;*/
		/*background: url(/modules/core/img/universol_3.jpg) no-repeat center 38%;*/
		-webkit-background-size: cover;
		background-size: cover;

		.inner {
			/*background-color: rgba(233, 30, 99, .5);*/
		}
	}
}

.piscine {
	.section-title {
		background: url(/modules/core/img/piscine2.jpg) no-repeat center 70%;
		-webkit-background-size: cover;
		background-size: cover;

		.inner {
			background-color: rgba(139, 195, 74, .6);

			.subtitle {
				color: color("light-green", "lighten-4");
			}
		}
	}
}

.targets {
	.section-title {
		/*background: url(/modules/core/img/tir_bg2.jpg) no-repeat center 50%;*/
		background: url(/modules/core/img/tir_bg3.jpg) no-repeat center 50%;
		-webkit-background-size: cover;
		background-size: cover;

		.inner {
			background-color: rgba(103, 58, 183, .5);

			.subtitle {
				color: color("deep-purple", "lighten-4");
			}
		}
	}
}

.section-content {

	.inner {
		max-width: 1280px;
		margin: 0 auto;
		padding: 2%;
	}

	.left, .right {
		width: 50%;
		padding: 2%;
	}

	h5, h6 {
		padding-bottom: 5px;
		font-weight: 300;
	}

	h5 {
		margin-bottom: 15px;
		border-bottom: 1px solid lighten($main-color, 20%);
	}

	h6 {
		display: inline-block;
		margin-top: 10px;
	}

	li {
		margin-bottom: 5px;
		position: relative;
		padding-left: 10px;

		&:before {
			content: '';
			position: absolute;
			left: -10px;
			top: 12px;
			width: 10px;
			height: 1px;
			background-color: lighten($main-color, 10%);
		}
	}

	ul {
		margin: 0;
		padding: 10px 0 10px 10px;
		position: relative;

		ul {
			padding: 0 0 0 20px;
			margin-top: 6px;
			border-left: 1px solid lighten($main-color, 10%);

			li {
				margin-bottom: 2px;
			}
		}
	}

	h6 + ul {
		padding-top: 5px;
	}
}

.section-footer {
	clear: both;
	padding: 2%;
	text-align: center;
}
