@import "variables";

.tabs {
	margin-bottom: 0;

	li {
		float: left;
		padding: 10px 15px;
		margin-right: 5px;
		border-radius: 3px 3px 0 0;
		cursor: pointer;
		-webkit-transition: all .1s;
		-o-transition: all .1s;
		transition: all .1s;

		&:hover {
			background-color: rgba(0, 0, 0, .075);
		}

		&.active {
			background-color: rgba(0, 0, 0, .2);
			cursor: default;
		}
	}

	.subtitle {
		color: darken($main-color, 15%);
	}
}


.sub-section {
	padding: 5px 15px 0;

	p, ul {
		margin: 0;
		padding: 8px 0;
	}

	ul {
		padding-left: 20px;
	}

	&.active {
		background-color: rgba(0, 0, 0, .2);
		border-radius: 0 0 3px 3px;
	}
}