@import "variables";

.tabs {
	margin-bottom: -5px;
	position: relative;

	li {
		float: left;
		padding: 12px 20px;
		margin-right: 5px;
		border-radius: 4px;
		cursor: pointer;
		-webkit-transition: all .1s;
		-o-transition: all .1s;
		transition: all .1s;
		position: relative;
		z-index: 1;
		width: 100%;

		&:hover {
			background-color: darken($body-color, 2%);
		}

		&.active {
			background-color: $darken-body;
			cursor: default;

			h4 {
				color: $secondary-color;
			}
		}
	}

	@media screen and (min-width: $small-screen) {
		li {
			width: auto;
		}
	}

	.subtitle {
		color: darken($main-color, 15%);
	}
}


.sub-section {
	padding: 10px 20px;
	background-color: $darken-body;
	border-radius: 4px;
	position: relative;
	z-index: 2;

	p, ul {
		margin: 0;
		padding: 8px 0;
	}

	ul {
		padding-left: 20px;
	}
}