@import "variables";

.projects {
	
	h2 {
		margin: 60px 0;
		text-align: center;
		font-size: 50px;

		@media screen and (min-width: $small-screen) {
			font-size: 70px;
			margin: 80px 0;
		}
	}
}

.section-title {
	background: $secondary-color;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .35), 0 2px 5px rgba(0, 0, 0, .2);

	a {
		color: #fff;

		&:before {
			background-color: #fff;
			width: 100%;
			box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 2px 5px rgba(0, 0, 0, .2);
		}
	}

	h4 {
		color: #fff;
		line-height: 45px;
		margin-bottom: 5px;
	}

	.inner {
		background-color: rgba(3, 169, 244, .5);
		padding: 7%;
		color: #fff;
		font-size: 20px;

		.separator {
			margin: 30px auto 0;
			opacity: .5;
			display: none;
		}

		.top {
			text-align: center;
		}

		.bottom {
			margin: 0 auto;
			margin-top: 30px;
			padding: 0 2%;
			border: 1px solid rgba(255, 255, 255, .25);
			border-radius: 4px;
			background-color: rgba(255, 255, 255, .05);
		}

		.subtitle {
			color: #fff;
		}
	}

	@media screen and (min-width: $small-screen) {
		.inner {
			padding: 5%;
		}
	}

	@media screen and (min-width: $medium-screen) {
		h4 {
			font-size: 70px;
			line-height: 70px;
			margin-bottom: 0;
		}

		.inner {
			.bottom {
				width: 75%;
				text-align: center;
			}
		}
	}

	@media screen and (min-width: $large-screen) {
		.inner {
			padding: 4%;
			font-size: 24px;

			.bottom {
				width: 50%;
			}
		}
	}

	@media screen and (min-width: $very-large-screen) {
		.inner {
			padding: 3%;
		}
	}
}

.universol {
	 .section-title {
		background: url(/modules/core/img/universol1.jpg) no-repeat center 75%;
		-webkit-background-size: cover;
		background-size: cover;

		.inner {
			/*background-color: rgba(233, 30, 99, .3);*/
		}
	}
}

.targets {
	.section-title {
		background: url(/modules/core/img/tir_bg3.jpg) no-repeat center 50%;
		-webkit-background-size: cover;
		background-size: cover;

		.inner {
			background-color: rgba(103, 58, 183, .5);
		}
	}
}

.piscine {
	.section-title {
		background: url(/modules/core/img/piscine2.jpg) no-repeat center 70%;
		-webkit-background-size: cover;
		background-size: cover;

		.inner {
			background-color: rgba(0, 200, 83, .5);
		}
	}
}

.section-content {

	.inner {
		max-width: 1280px;
		margin: 0 auto;
		padding: 7%;

		@media screen and (min-width: $small-screen) {
			padding: 5%;
		}

		@media screen and (min-width: $large-screen) {
			padding: 4%;
		}

		@media screen and (min-width: $very-large-screen) {
			padding: 3%;
		}
	}

	.left, .right {
		width: 100%;
		padding: 2%;

		@media screen and (min-width: $medium-screen) {
			width: 50%;
		}

		& > section {
			float: left;
		}
	}

	h5, h6 {
		padding-bottom: 7px;
		font-weight: 300;
	}

	h5 {
		margin-bottom: 15px;
		border-bottom: 1px solid lighten($main-color, 20%);

		& + section {
			margin-right: 50px;

			& + section {
				margin-right: 50px;
			}
		}
	}

	h6 {
		margin-top: 10px;
	}

	li {
		margin-bottom: 5px;
		position: relative;
		padding-left: 10px;

		&:before {
			content: '';
			position: absolute;
			left: -10px;
			top: 12px;
			width: 10px;
			height: 1px;
			background-color: lighten($main-color, 10%);
		}
	}

	ul {
		margin: 0;
		padding: 10px;
		position: relative;

		ul {
			padding: 0 0 0 20px;
			margin-top: 6px;
			border-left: 1px solid lighten($main-color, 10%);

			li {
				margin-bottom: 2px;
			}
		}
	}

	h6 + ul {
		padding-top: 3px;
	}
}

.section-footer {
	clear: both;
	padding: 2%;
	text-align: center;
}
