@import "variables";


.sub-container > section.projects {
	max-width: 100%;
	padding: 5% 0 0 0;
}

.section-title {
	text-align: center;
	padding: 150px 5%;
	background: $secondary-color;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .5);

	h4 {
		font-size: 60px;
		color: #fff;
	}

	.subtitle {
		color: #fff;
		font-size: 24px;
		font-family: "Raleway", sans-serif;
	}
}

.universol .section-title {
	background: url(../img/universol_2.jpg) no-repeat center 75%;
	/*background: url(../img/universol_3.jpg) no-repeat center 38%;*/
	-webkit-background-size: cover;
	background-size: cover;
}

.piscine .section-title {
	background: url(../img/piscine.jpg) no-repeat center 65%;
	-webkit-background-size: cover;
	background-size: cover;
}

.section-content {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2%;
}