@import "variables";

.tabs {
	border-radius: 4px 4px 0 0;
	margin: 0;
	margin-bottom: -4px;
	display: none;
}

.tabs li, .section-title .inner {
	padding: 12px 20px;
	margin-right: 5px;
	border-radius: 4px 4px 0 0;
	cursor: pointer;
	-webkit-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
	position: relative;
	z-index: 1;
	display: inline-block;

	h4, .subtitle {
		-webkit-transition: all .1s;
		-o-transition: all .1s;
		transition: all .1s;
	}

	&:hover {
		background-color: darken($body-color, 2%);
	}

	&.active {
		background-color: $darken-body;
		cursor: default;
		z-index: 3;

		h4 {
			color: $secondary-color;
		}
	}
}

.subtitle {
	color: darken($main-color, 15%);
	font-size: 14px;
}

.section-title {

	.inner {
		border-radius: 4px;
		margin-top: 10px;
		margin-right: 0;
		padding: 12px 20px;
		background-color: darken($body-color, 2%);
		display: block;

		.separator {
			display: none;
			margin-bottom: 0;
		}

		&:hover {
			background-color: $darken-body;
		}

		&.active {
			border-radius: 4px 4px 0 0;
			padding-bottom: 0;

			.separator {
				display: block;
			}
		}
	}
}

.sub-section {
	padding: 10px 20px;
	background-color: $darken-body;
	border-radius: 4px;
	position: relative;
	z-index: 2;

	p, ul {
		margin: 0;
		padding: 8px 0;
	}

	ul {
		padding-left: 20px;
		list-style-type: disc;
	}

	&.active {
		border-radius: 0 0 4px 4px;
	}
}

@media screen and (min-width: $small-screen) {
	.section-title {

		.inner {
			display: inline-block;
		}
		
		.separator {
			display: none;
		}
	}
}

@media screen and (min-width: 1110px) {
	.tabs {
		display: block;
	}

	.section-title {
		display: none;
	}
}

@media screen and (min-width: $very-large-screen) {
	.tabs {
		display: none;
	}

	.section-title {
		display: block;
	}
}

@media screen and (min-width: 1840px) {
	.tabs {
		display: block;
	}

	.section-title {
		display: none;
	}
}