@import "variables";

.sidebar {
	text-align: justify;

	h1 {
		color: #fff;
		margin-bottom: 0;
	}

	h2 {
		margin-top: 0;
		margin-bottom: 10px;
	}

	.links {
		margin: 0;
		text-align: center;

		li a {
			width: 100%;

			@media screen and (min-width: $small-screen) {
				width: auto;
			}
		}
	}
}