@import "variables";

.sidebar {
	h1 {
		color: #fff;
		margin-bottom: 0;
	}

	h2 {
		margin-top: 0;
		margin-bottom: 10px;
	}

	.links {
		margin: 0;
	}
}

.email {
	overflow: hidden;
	margin-bottom: -7px;

	.mail {
		-webkit-transition: all .1s;
		-o-transition: all .1s;
		transition: all .1s;
		position: relative;
		bottom: 40px;
		opacity: 0;
	}

	.text {
		-webkit-transition: all .1s;
		-o-transition: all .1s;
		transition: all .1s;
		position: absolute;
		left: 50px;
		top: 8px;
	}

	&:hover {

		.text {
			top: 40px;
			opacity: 0;
		}

		.mail {
			bottom: 0;
			opacity: 1;
		}
	}

}